body {
    font: 10px sans-serif;
}
#title {
    text-align: center;
    padding: 10px 0 0 0;
}
#svgDiv {
    margin: 0 20px;
    height: 400px;
    word-spacing: -4px;
}
.svg{
    word-spacing: normal;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.bar {
    fill: steelblue;
}
.x.axis path {
    display: none;
}
#descriptionDiv {
    word-spacing: -4px;
    margin: 0 20px;
}
.description {
    display: inline-block;
    box-sizing: border-box;
    word-spacing: normal;
    width: 50%;
    height: 200px;
    border: 1px solid #000;
}
/* mouse tip styles */
#candidateTip {
    display: none;
    border: 1px solid #000;
    position: fixed;
    background: white;
    opacity: 0.9;
    max-width: 500px;
}
#candidateTipLink {
    padding: 5px 10px;
    display: block;
}