body {
    font: 12px Arial, sans-serif;
}
#title {
    text-align: center;
    padding: 10px 0 0 0;
}
#svgDiv {
    width: 90%;
    margin: 20px auto 0;
    height: 400px;
    word-spacing: -4px;
}
.svg {
    width: 46%;
    word-spacing: normal;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    margin: 0 2%;
    border: 5px solid #666;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.bar {
    fill: steelblue;
}
.x.axis path {
    display: none;
}
#descriptionDiv {
    display: flex;
    margin: 10px 40px 0;
    width: 90%;
}
.description {
    width: 46%;
    word-spacing: normal;
    box-sizing: border-box;
    padding: 0 0 0 30px;
    margin: 0 2%;
    font-size: 16px;
    display: inline-block;
    /*height: 200px;
    border: 1px solid #000;*/
}
/* mouse tip styles */
#candidateTip {
    display: none;
    border: 1px solid #000;
    position: fixed;
    background: white;
    opacity: 0.9;
    max-width: 500px;
}
#candidateTipLink {
    padding: 5px 10px;
    display: block;
}