body {
    font: 12px Arial, sans-serif;
}
#title {
    text-align: center;
    padding: 10px 0 0 0;
}
#svgDiv {
    width:90%;
    margin:20px auto 0;
    height: 400px;
    word-spacing: -4px;
}
.svg {
    width:46%;
    word-spacing: normal;
    box-sizing: border-box;
    padding: 0 20px;
    margin:0 2%;
    border:5px solid #333;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.path {
    fill: none;
    stroke-width: 3px;
}
#descriptionDiv {
    display: flex;
    margin: 0 40px;
}
.description {
    font-size:16px;
    margin: 0 40px;
    display: inline-block;
    box-sizing: border-box;
    word-spacing: normal;
    width: 50%;
    /*height: 200px;
    border: 1px solid #000;*/
}
/* mouse tip styles */
#candidateTip {
    display: none;
    border: 1px solid #000;
    position: fixed;
    background: white;
    opacity: 0.9;
    max-width: 500px;
}
#candidateTipLink {
    padding: 5px 10px;
    display: block;
}
#eventTip {
    display: none;
    border: 1px solid #000;
    position: fixed;
    background: white;
    opacity: 0.9;
    width: 400px;
    padding: 5px 10px;
}
#eventTipDescriptionDiv span {
    float: left;
    display: block;
}
#eventTipDescription {
    width: 350px;
    margin-left: 5px;
}