body {
    font: 12px sans-serif;
}
#container{
    width:90%;
    margin:0 auto;
}
#title{
    text-align: center;
}
#portrait{
    float:left;
}
#portraitImg{
    max-width:300px;
    max-height:300px;
}
#description{
    float:left;
}
#content::after{
    clear:both;
    display:block;
    content:" ";
}
#svg{
    text-align: center;
}
svg{
    border:1px solid #000;
}
#map{
    display:block;
    margin:0 auto;
}