body {
    font: 12px sans-serif;
}
#container{
    width:90%;
    margin:0 auto;
}
#title{
    text-align: center;
}
#content{
    width:800px;
    margin:20px auto 0;
    display:flex;
}
#content::after{
    clear:both;
    display:block;
    content:" ";
}
#portrait{

}
#portraitImg{
    max-width:300px;
    max-height:300px;
}
#intro{
    margin:0 0 0 30px;
    font-size:14px;
}
#svg{
    text-align: center;
}
svg{
    border:1px solid #000;
}
#map{
    display:block;
    margin:0 auto;
}